@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
}

code {
  font-family: 'Poppins', sans-serif;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-3;
  }

  .scrollbar::-webkit-scrollbar:horizontal {
    @apply h-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-corner {
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-green-300;
    @apply rounded-full;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-green-500;
  }

  .scrollbar::-webkit-scrollbar-thumb:active {
    @apply bg-green-500
  }
}
